* {
    border: none;
    border-radius: 0;
    font-family: "Comfortaa", "Symbols Nerd Font", "FontAwesome", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

#workspaces {
    background-color: #1e1e2e;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#custom-clock,
#custom-power,
#custom-power,
#custom-notification,
#custom-screenshot,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratcher,
#mpd {
    padding: 0 10px;
    color: #ffffff;
    background-color: #1e1e2e;
    border-radius: 10px;
    margin: 5px 2px;
}

#window {
    margin: 5px;
    padding: 0 10px;
    background-color: #1e1e2e;
    border-radius: 10px;
    color: #cdd6f4;
}

#clock,
#custom-clock {
    background-color: #1e1e2e;
    color: #f5c2e7;
    margin-left: 0px;
}

#battery {
    background-color: #1e1e2e;
    color: #a6e3a1;
}

#battery.charging,
#battery.plugged {
    color: #a6e3a1;
    background-color: #1e1e2e;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #bf5656;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #333333;
    }
}

#cpu {
    background-color: #1e1e2e;
    color: #fab387;
}

#memory {
    background-color: #1e1e2e;
    color: #f9e2af;
}

#network {
    background-color: #1e1e2e;
    color: #94e2d5;
}

#network.disconnected {
    background-color: #f38ba8;
}

#pulseaudio {
    background-color: #1e1e2e;
    color: #89b4fa;
}

#pulseaudio.muted {
    background-color: #1e1e2e;
    color: #90b1b1;
}

#tray {
    background-color: #1e1e2e;
}

#custom-power {
    background-color: #f38ba8;
    color: #1e1e2e;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

#custom-notification {
    background-color: #94e2d5;
    color: #1e1e2e;
    padding: 0 10px;
}

#custom-screenshot {
    background-color: #cba6f7;
    color: #1e1e2e;
    padding-left: 10px;
    padding-right: 5px;
}