* {
    font-family: "Comfortaa", "Noto Sans", sans-serif;
    font-size: 16px;
}

window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: rgba(30, 30, 46, 0.5);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry {
    margin: 0.25rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

#entry:selected {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#entry:selected #text {
    color: #1e1e2e;
}