* {
    font-family: Comfortaa, Noto Sans, sans-serif;
    font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: #1e1e2e
}

.notification-row {
    outline: none;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.notification {
    background: transparent;
    margin: 0px;
    padding: 0;
    border-radius: 12px;
}

.notification-content {
    background: #1e1e2e;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #cdd6f4;
    margin: 0;
}

.close-button {
    background: #f38ba8;
    color: #1e1e2e;
    text-shadow: none;
    padding: 0;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 24px;
    min-height: 24px;
}

.close-button:hover {
    box-shadow: none;
    background: #eba0ac;
    transition: all .15s ease-in-out;
    border: none
}

.notification-default-action,
.notification-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background: #313244;
    border: 1px solid #45475a;
    color: #cdd6f4;
}

.notification-default-action:hover,
.notification-action:hover {
    -gtk-icon-effect: none;
    background: #313244;
}

.notification-default-action {
    border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notification-action {
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
}

/* add bottom border radius to last action */
.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: #1e1e2e;
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: #1e1e2e;
}

.inline-reply {
    margin-top: 8px;
}

.inline-reply-entry {
    background: #313244;
    color: #cdd6f4;
    caret-color: #cdd6f4;
    border: 1px solid #45475a;
    border-radius: 12px;
}

.inline-reply-button {
    margin-left: 4px;
    background: #313244;
    border: 1px solid #45475a;
    border-radius: 12px;
    color: #cdd6f4;
}

.inline-reply-button:disabled {
    background: initial;
    color: #585b70;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: #313244;
}

.body-image {
    margin-top: 6px;
    background-color: #fff;
    border-radius: 12px;
}

.summary {
    font-size: 16px;
    margin-bottom: 3px;
    color: #cdd6f4;
}

.time {
    font-size: 16px;
    margin-bottom: 3px;
    margin-right: 25px;
    color: #a6adc8;
}

.body {
    font-size: 15px;
    font-weight: normal;
    color: #cdd6f4;
}

.control-center {
    background: rgba(30, 30, 46, 0.5);
    /* Transparent background for blur */
    border-radius: 12px;
    border: 2px solid #89b4fa;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.floating-notifications {
    background: transparent;
}

/* Widgets */

/* Title widget */
.widget-title {
    margin: 8px;
    font-size: 1.5rem;
    color: #cdd6f4;
}

.widget-title>button {
    font-size: initial;
    color: #cdd6f4;
    text-shadow: none;
    background: #313244;
    border: 1px solid #45475a;
    box-shadow: none;
    border-radius: 12px;
}

.widget-title>button:hover {
    background: #45475a;
}

/* DND widget */
.widget-dnd {
    margin: 8px;
    font-size: 1.1rem;
}

.widget-dnd>switch {
    font-size: initial;
    border-radius: 12px;
    background: #313244;
    border: 1px solid #45475a;
    box-shadow: none;
}

.widget-dnd>switch:checked {
    background: #89b4fa;
}

.widget-dnd>switch slider {
    background: #cdd6f4;
    border-radius: 12px;
}

/* Label widget */
.widget-label {
    margin: 8px;
}

.widget-label>label {
    font-size: 1.1rem;
    color: #cdd6f4;
}

/* Mpris widget */
.widget-mpris {
    color: #cdd6f4;
    padding: 8px;
    margin: 10px;
    background-color: #313244;
    border-radius: 12px;
}

.widget-mpris>box>button {
    border-radius: 12px;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
}

/* Volume widget */
.widget-volume {
    background-color: #313244;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

/* Backlight widget */
.widget-backlight {
    background-color: #313244;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}